body{
	margin: 0;
	padding: 0;
background:url("https://i.postimg.cc/xdSGDsVm/Quiz-page-1.png");
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
  background-color:black;
} 
.dropbtn {
  color: white;
  padding: 0%;
  font-size: 140%;
  font-family:georgia;
  border: none;
  background-color: rgb(10, 10, 10);
  cursor:pointer;
}
.dropdown {
  position: relative;
 	list-style: none;
 	display: inline-block;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgb(10, 10, 10);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  font-family:georgia;
  padding: 2px 2px;
  text-decoration: none;
  display: ruby;
}
.dropdown-content a:hover {
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: inline;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(10, 10, 10);
  justify-content: space-between;
  overflow:auto;
  padding: 0px 0px;
  padding-left:0px;
  padding-right:0%;
  border-radius:900px;
  box-shadow: 2px 12px 12px 2px rgb(10, 10, 10);
  width:98%;
  margin-left:1%;
}  
 ul li {
 position: relative;
 margin: 15px 20px;
 list-style: none;
 display: inline;
 padding:2px;
 font-size:140%;
 font-family: georgia;
}

ul li a{
text-decoration: none; 
cursor: pointer;
color: rgb(255, 255, 255);
}
ul li a:hover {
background-color:white;
}
.split {
  float: right;
  background-color: rgb(10, 10, 10);
  color: white;
  font-family:georgia;
  font-size:140%;
  padding-right:3%;
  text-decoration:none;
}

.CartContainer{
	width: 70%;
	height: 90%;
	background-color:white;
    border-radius: 20px;
}

.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading{
	font-size: 20px;
	font-family:Georgia;
	color:black;
}

.Action{
	font-size: 14px;
	font-family: Georgia;
	font-weight: 600;
	color: red;
	border-bottom: 1px solid red;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
  display: flex;
  justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 15%;
	text-align: center;
}
img{
  height:120px
}

.title{
  padding-top: 10px;
	font-size: 20px;
	font-family:Georgia;
	font-weight: 80px;
	color:black;
}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family:Georgia;
	font-weight: 600;
	color:grey;
}
img{
 height: 120px
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  background-color:white;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: Arial;
	font-weight: 900;
	color: black;
	cursor: pointer;
}
.count{
	font-size: 15px;
	font-family: Georgia;
	font-weight: 600;
	color: black;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 70px;
	font-size: 26px;
	font-family: Georgia;
	font-weight: 800;
	color: black;
}
hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
  font-family:georgia;
}
.items{
	font-size: 16px;
	font-family: georgia;
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: georgia;
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background-color:black;
	cursor: pointer;
	font-size: 16px;
	font-family: georgia;
	font-weight: 400;
	color: white;
}
.save {
  font-family:georgia;
}
.remove {
  font-family:georgia;
}
