body{
  background-image:url(https://i.postimg.cc/jjJfNy7N/Copy-of-Design-Cri-B-General-Product-Webpage-prototype-1-Geethika-Tatineni.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px;
  margin: -1px;
  border: 0px;
}
.dropbtn {
  color: white;
  padding: 0%;
  font-size: 140%;
  font-family:georgia;
  border: none;
  background-color: rgb(10, 10, 10);
  cursor:pointer;
}
.dropdown {
  position: relative;
 	list-style: none;
 	display: inline-block;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgb(10, 10, 10);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  font-family:georgia;
  padding: 2px 2px;
  text-decoration: none;
  display: ruby;
}
.dropdown-content a:hover {
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: inline;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(10, 10, 10);
  justify-content: space-between;
  overflow:auto;
  padding: 0px 0px;
  padding-left:0px;
  padding-right:0%;
  border-radius:900px;
  box-shadow: 2px 12px 12px 2px rgb(10, 10, 10);
  width:98%;
  margin-left:1%;
}  
 ul li {
   position: relative;
   margin: 15px 20px;
   list-style: none;
   display: inline;
   padding:2px;
   font-size:140%;
   font-family: georgia;
}

ul li a{
text-decoration: none; 
cursor: pointer;
color: rgb(255, 255, 255);
}
ul li a:hover {
  background-color:white;
}
.split {
  float: right;
  background-color: rgb(10, 10, 10);
  color: white;
  font-family:georgia;
  font-size:140%;
  padding-right:3%;
  text-decoration:none;
}
.name{
color:white;
  font-family:Georgia;
  padding:0;
  font-size:320%;
  text-align:center;
}

.mission{ 
position:absolute;left:30px;bottom:50px;
  width: 45%;
  text-align:center;
  font-size:18px;
  color:white;
}
.paragraph{
  font-size:80%;
}

h1{
  color:white;
}
.contact{  position:relative;bottom:-160px;left:5%;
  border-left:1px solid white;
  color:white;
  float:right;
  width: 50%;
  text-align:center;
  font-size:18px;
  
}
h2{
  font-size:200%;
}
