.container{
  color:white;
  font-family:Arial;
  padding:0;
  text-align:center;
  font-size:300%;
  height: 80%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
body{
 Background-image:url("https://i.postimg.cc/x8RS3psB/Want-to-know.png");
  background-repeat:no-repeat;
  position: sticky;
  background-size: cover;
  text-align:center;
  width: 100%;
  height: 100%;
}
h4{
  color:white;
  font-family:Arial;
  padding:0;
  text-align:center;
  font-size:100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width:97%;
  height: 103%
}

a{
  background-color:black;
  border:solid;
  display:block;
  width: 8em;
  height: 2em;
  text-decoration: none;
  padding: 5px;
  margin-bottom: .2em;
  color:white;
  font-family:Arial;
  height:100%;
  width:10%;
  position:relative;
  left:43%;
  top:400px;
}
a:hover{
  background-color:white;
  color:black;
}
